body {
    /*padding-top: 90px;*/
    font-family: 'Gotham Pro', Arial, sans-serif;
}

input[type="text"],
input[type="email"] {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

.btn-primary {
    color: #fefefe;
    background-color: #ff5252;
    border-color: #ececec;
}

.btn-primary:hover {
    color: #010101;
    background-color: #ff5252;
    border-color: #000;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary.focus, 
.btn-primary:focus,
.btn-primary:active:focus {
    color: #010101;
    background-color: #ff5252;
    border-color: #000;
}

.btn-default {
    color: #000;
    background-color: #fff;
    border-color: #ececec;
    font-weight: normal;
    padding: 8px 12px;
}

.btn-default:hover {
    color: #fff;
    background-color: #f9a825;
    border-color: #f9a825;
}

.btn-default.active, 
.btn-default:active {
    color: #fff;
    background-color: #FF9F03;
    border-color: #f9a825;
}

.btn-default.focus,
.btn-default:focus {
    color: #fff;
    background-color: #f9a825;
    border-color: #f9a825;
}

.btn-default:active:focus {
    color: #fff;
    background-color: #f9a825;
    border-color: #f9a825;
}

.btn-social.fb svg .bg path {
    fill: #3b5998;
}
    .btn-social.fb:hover svg .bg path {
        fill: #2E4E90;
    }

.btn-social.vk svg .bg path {
    fill: #45668e;
}
    .btn-social.vk:hover svg .bg path {
        fill: #2A5488;
    }

.btn-social.tw svg .bg path {
    fill: #00aced;
}
    .btn-social.tw:hover svg .bg path {
        fill: #35C7FE;
    }

.btn-social.rss svg .bg path {
    fill: #2d9ad2;
}
    .btn-social.rss:hover svg .bg path {
        fill: #1E84B9;
    }

.btn i {
    display: inline-block;
    width: 13px;
    height: 13px;
}
    .btn i.arrow {
        background: url('../../public/svg/arrow_carrot-2right.svg');
    }

.svg path {
    fill: #abc6ca;
}

.svg-primary:hover path {
    fill: #fbaf5d;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: transparent;
}

blockquote {
    border-left: 3px solid #f9a825;
    padding: 0 20px;
    margin: 20px 0;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
    border: 0;
    border-radius: 0;
}

.help-block.error {
    color: #ff5252;
}

/**
 *  Header
 */
.nav {
    padding: 10px 0;
    /*margin-left: 30px;*/
    background: #fff;
}

.nav > li > a {
    font-weight: normal;
    text-transform: uppercase;
    color: #080f19;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: transparent;
}

.navbar-default .navbar-nav .dropdown-menu {
    min-width: 69px;
    font-size: 12px;
}

.navbar-default .navbar-nav > li > a {
    color: #080f19;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #ff5252;
}

.navbar-fixed-bottom .navbar-collapse, 
.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

#navbar {
    background: #fff;
}
.navbar {
    padding: 10px 0;
    margin-bottom: 0;
}

.navbar-default {
    background: #fff;
    height: 90px;
}

.navbar-toggle {
    background: #fff;
    margin-top: 18px;
    border-radius: 0;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #ff5252;
    border-color: #ff5252;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #000;
    border-radius: 0;
    width: 30px;
}

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
    background: #fff;
} 

.navbar-brand {
    margin-right: 45px;
    padding-top: 0;
    width: 70px;
    height: 70px;
}

.navbar-brand img {
    width: 70px;
    height: 70px;
}

.navbar-default .navbar-nav > li > a.btn-join {
    color: #fff;
    margin: 0;
    font-size: 12px;
    padding: 12px 22px;
    margin-top: 2px;
    text-transform: none;
    margin-left: 12px;
}

/*.navbar-default .navbar-nav > li > a.active {
    color: #ff5252;
}*/

.navbar-default .navbar-nav > li> a.btn-join:focus, 
.navbar-default .navbar-nav > li > a.btn-join:hover {
    background: #ff5252;
    color: #010101;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #ff5252;
    background: transparent;
}

/**
 *  Slider
 */
#slider {

}
.lSSlideOuter {
    position: relative;
}

.lslide {
    height: 100%;
}

.lSAction {
    position: absolute;
    bottom: 136px;
    right: 0;
    left: 0;
}

.lSAction > a {
    width: 56px;
    height: 56px;
    /*opacity: 1;*/
    top: 14px;
    line-height: 56px;
    
}

.lSAction > span {
    position: absolute;
    color: #000;
    z-index: 999;
}

.lSAction > .lSNext {
    background-position: -56px 0;
}

.lSPrev-desc,
.lSNext-desc {
    position: absolute;
    line-height: 53px;
    text-transform: uppercase;
    color: #000;
    font-size: 11px;
}

.lSPrev-desc {
    left: 102px;
}

.lSNext-desc {
    right: 102px;
}

.lSSlideOuter .lSPager.lSpg {
    position: absolute;
    right: 160px;
    bottom: 100px;
}

.lSSlideOuter .lSPager.lSpg > li a {
    background: #20252b;
    height: 10px;
    width: 10px;
}

.lSSlideOuter .lSPager.lSpg > li:hover a, 
.lSSlideOuter .lSPager.lSpg > li.active a {
    background: #000;
}

.lSSlideOuter .lSPager.lSpg > li a::after {
    display: none;
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f7fcfe;
}

.lSSlideOuter .lSPager.lSpg > li:hover a::after,
.lSSlideOuter .lSPager.lSpg > li.active a::after {
    display: block;
}

.lslide {
    text-align: center;
}

.lslide > img {
    /*max-width: 100%;*/
    height: 100%;
    width: auto;
    margin: 0 auto;
    position: absolute;
    right: -25%;
}

.lSSlideOuter .container {
    position: relative;
} 

#mouse {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 999;
    text-align: center;
}

.m_scroll_arrows { 
    display: block; 
    width: 5px; 
    height: 5px; 
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg); 
    border-right: 2px solid #000; 
    border-bottom: 2px solid #000; 
    margin: 0 0 3px 4px; 
    width: 16px; 
    height: 16px; 
}
.unu { margin-top: 1px; }
.unu, .doi, .trei { 
    -webkit-animation: mouse-scroll 1.2s infinite; 
    -moz-animation: mouse-scroll 1.2s infinite;
}
.unu { 
    -webkit-animation-delay: .1s; 
    -moz-animation-delay: .1s; 
    -webkit-animation-direction: alternate;
}
.doi { 
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s; 
    -webkit-animation-direction: alternate; 
    margin-top: -6px;
}
.trei { 
    -webkit-animation-delay: .3s; 
    -moz-animation-delay: .3s; 
    -webkit-animation-direction: alternate; 
    margin-top: -6px;
}
.mouse { 
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid #000;
    top: 170px;
}
.wheel { 
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #000;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.wheel {
    -webkit-animation: mouse-wheel 1.2s linear infinite;
    -moz-animation: mouse-wheel 1.2s linear infinite;
}
 @-webkit-keyframes mouse-wheel {
 0% {
 opacity: 1;
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(6px);
 -ms-transform: translateY(6px);
 transform: translateY(6px);
}
}
 @-moz-keyframes mouse-wheel {
 0% {
top: 1px;
}
 25% {
top: 2px;
}
 50% {
top: 3px;
}
 75% {
top: 2px;
}
 100% {
top: 1px;
}
}
 @-webkit-keyframes mouse-scroll {
 0% {
opacity: 0;
}
 50% {
opacity: .5;
}
 100% {
opacity: 1;
}
}
@-moz-keyframes mouse-scroll {
 0% {
opacity: 0;
}
 50% {
opacity: .5;
}
 100% {
opacity: 1;
}
}
@-o-keyframes mouse-scroll {
 0% {
opacity: 0;
}
 50% {
opacity: .5;
}
 100% {
opacity: 1;
}
}
@keyframes mouse-scroll {
 0% {
opacity: 0;
}
 50% {
opacity: .5;
}
 100% {
opacity: 1;
}
}

/**
 * Section
 */
.section {
    padding: 0 0 100px 0;
}

.lead {
    padding: 80px 0 42px 0;
    text-align: center;
}
.lead h3 {
    color: #abc6ca;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'Gotham Pro Narrow', Arial, sans-serif;
    font-weight: 500;
}

.lead h2 {
    margin: 40px 0 30px 0;
    color: #000;
    font-size: 36px;
    font-weight: bold;
}

.lead::after {
    display: inline-block;
    width: 36px;
    height: 3px;
    background: #fff200;
}

.mini-lead .lead h2 {
    font-size: 14px;
    text-transform: uppercase;
}

/**
 * Intro
 */
#intro {
    padding: 0 0 20px 0;
}

#intro .lead h2 {
    text-transform: capitalize;
}

.intro-item,
.join-item,
.news-item {
    text-align: center;
    margin-bottom: 80px;
}

    .intro-item > .icon-container {
        /*
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        display: block;
        */
       padding-bottom: 20px;
    }
        .intro-item > .icon-container > .icon {
            /*
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            */
        }

        .intro-item > .icon.earth {}
        .intro-item > .icon.people {}
        .intro-item .icon.flower {
            /*padding: 50px;*/
        }

        .intro-item .svg {
            max-width: 100px;
        }
    
    .intro-item > h4,
    .news-item > h4 {
        margin: 0 0 20px 0;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Gotham Pro Narrow', Arial, sans-serif;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
    }

    .news-item > h4 {
        margin: 20px 0;
    }

    .intro-item > p,
    .news-item > p {
        font-size: 14px;
        color: #3e5c59;
        line-height: 20px;
        font-family: 'HelveticaNeueCyr', Arial, sans-serif;
        font-weight: 300;
    }

    .intro-item > .btn,
    .news-item > .btn {
        margin-top: 40px;
        padding: 10px 20px;
        font-size: 11px;
        font-weight: normal;
    }

/**
 * Splash
 */
.splash {
    padding: 78px 0;
    background: #ffb300;
    text-align: center;
}

.splash p {
    line-height: 78px;
}

.splash p:first-child {
    font-size: 56px;
    font-weight: bold;
    color: #fff;
}

.splash p:last-child {
    font-size: 50px;
    font-weight: normal;
    color: #000;
}

/**
 * What
 */
#what {
    background-image: url('../../public/img/what-bg.jpg');
    background-repeat: repeat-x;
    padding-top: 80px;
    padding-bottom: 150px;
}

#what .lead {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
}

#what .row p {
    color: #3e5c59;
    font-family: 'HelveticaNeueCyr', Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.what-img {
    position: absolute;
    top: 0;
    left: 29px;
    max-width: 100%;
}

#what .btn-group {
    padding-top: 22px;
}

#what .btn-social {
    display: inline-block;
    padding: 0;
    width: 38px;
    height: 38px;
    margin-right: 16px;
}
    
    .btn-social.fb {}        
    .btn-social.vk {}
    .btn-social.tw {}
    .btn-social.rss {}

/**
 * Join
 */
#join {
    background: #f7fcfc;
    padding: 0 0 20px 0;
}

.join-container,
.news-container {
    margin: 0 auto;
    max-width: 260px;
}

.join-item .icon {
    height: 140px;
    display: inline-block;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center center;
}
    .icon.iboost {width: 185px; background-image: url('../../public/img/icons/iboost.png');}
    .icon.adwithme {width: 114px; background-image: url('../../public/img/icons/adwithme.png');}
    .icon.bmbe {width: 115px; }

.join-item h4 {
    font-family: 'Gotham Pro Narrow', Arial, sans-serif;
    font-weight: 500;
}

.join-item p {
    font-family: 'HelveticaNeueCyr', Arial, sans-serif;
    font-weight: 300;
}

#join .btn {
    margin-top: 30px;
    width: 100%;
    width: 100%;
    font-family: 'Gotham Pro Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 18px 0;
}

/**
 *  Members
 */
#models {
    background: #240e35;
    padding-bottom: 0;
}

#models h2 {
    color: #fff;
}

.model-item {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

    .model-item .thumbnail {
        margin-bottom: 0;
        border: 0;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }
        .model-item .thumbnail img {
            max-width: 100%;
            width: 100%;
        }

#models > .row {
    margin-left: 0;
    margin-right: 0;
}

.model-item .info-bg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #240e35;
    vertical-align: middle;
}

    .model-item .thumbnail:hover .info-bg {
        display: block;
    }

.model-item .info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
    height: 120px;
    text-align: center;
}

    .model-item .info .username {
        line-height: 60px;
        font-size: 24px;
        font-weight: bold;
        color: #fddb00;
    }

    .model-item .info .counter {
        line-height: 60px;
        font-size: 48px;
        font-weight: normal;
        color: #fff;
    }

        .model-item .info .icon-user {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin-right: 30px;
            background-image: url('../../public/img/icons/user.png');
        }

/**
 * Info
 */
#info .lead {
    text-align: left;
    padding: 120px 0 0 0;
}

    .info-img {
        max-width: 100%;
        margin-top: 120px;
    }

    .info-text {
        color: #3e5c59;
        font-family: 'HelveticaNeueCyr', Arial, sans-serif;
        font-weight: 300;
        padding-right: 70px;
    }
        .info-text p {
            font-size: 14px;
        }

        .info-text blockquote {
            font-size: 12px;
        }

/**
 * Info-more
 */
#info-more {
    background: #f7fcfc;
    padding: 40px 0 20px 0;
    overflow: hidden;
}

#info-more > .container > .row {
    min-height: 440px;
}

    #info-more .lead {
        text-align: left;
        margin: 30px 0 10px 0;
        padding: 35px 0 0 0;
    }

        #info-more .lead h2 {
            margin: 40px 0 0 0;
        }

    #info-more .mini-lead {
        padding-right: 85px;
    }

    #info-more .mini-lead .lead {
        margin: 0;
    }

.info-more-img {
    content: " ";
}
    .info-more-img img {
        position: absolute;
        top: 0;
    }
    
    .info-more-img.to-right img {
        right: 0;
    }

    .info-more-img.to-left img {
        left: 0;
    }

#info-more .row:first-child .col-md-6 {
    padding-left: 85px;
}

#info-more .row p {
    font-family: 'HelveticaNeueCyr', Arial, sans-serif;
    font-weight: 300;
}

/**
 * News
 */
.news-item .thumbnail {
    display: inline-block;
    border: 4px solid #fff;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(241,241,241,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(241,241,241,1);
    box-shadow: 0px 0px 0px 1px rgba(241,241,241,1);
    border-radius: 1px;
}

/**
 * Footer
 */
footer {
    text-align: center;
    color: #3e5c59;
}
footer .main {
    background: #12041c;
    padding-bottom: 50px;
}

footer .logo {
    display: block;
    margin-top: -20px;
}

footer .main h1 {
    margin: 20px 0 40px 0;
    font-weight: 300;
}

footer .main h1 b {
    font-weight: 900;
}

footer .main p {
    font-family: 'HelveticaNeueCyr', Arial, sans-serif;
    font-weight: 100;
}

footer .copyrights {
    padding: 20px 0;
    background: #111;
    font-size: 12px;
    font-family: 'HelveticaNeueCyr', Arial, sans-serif;
    font-weight: 300;
}

footer .btn-group {
    margin-top: 20px;
}

footer .btn-social {
    padding: 0;
    border: 0;
    width: 49px;
    height: 49px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}   
    footer .btn-social:last-child {
        margin-right: 0;
    }

    footer .btn-social svg {
        width: 49px;
        height: 49px;
    }

footer .btn-social.fb {}        
footer .btn-social.vk {}
footer .btn-social.tw {}
footer .btn-social.rss {}

/**
 * Modal
 */
#signin {
    background: #f5fcfc;
}

.modal .lead {
    text-align: left;
    padding: 0;
}

#signin .row p,
#signin .row li {
    font-family: 'HelveticaNeueCyr', Arial, sans-serif;
    font-weight: 300; 
}

#signinForm {
    background: #fff;
    padding: 65px 40px;
}

#signinForm label {
    font-weight: normal;
    text-transform: uppercase;
    color: #275c58;
    margin-bottom: 15px;
}

#signinForm input[type="text"],
#signinForm input[type="email"] {
    background: #f5fcfc;
    color: #275c58;
    padding: 30px 25px;
}

#signinForm .form-group {
    margin-bottom: 25px;
}

#signinForm .btn {
    width: 100%;
    font-size: 20px;
    padding: 20px 0;
    margin-top: 20px;
}

#signinPhone {
    padding-left: 55px !important;
}

#signin .row {
    position: relative;
}

#signin .icon-close {
    transition: 0.5s ease transform;
    position: absolute;
    top: -60px;
    right: -30px;
    width: 28px;
    height: 28px;
    background: url('../../public/img/icons/close.png');
}

#signin .icon-close:hover {
    cursor: pointer;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}

.intl-tel-input {
    width: 100%;
}

/**
 * Media quires
 */
@media (max-width: 768px) {
    .lSAction > a {
        background-size: 64px;
        width: 32px;
        height: 32px;
        top: 56px;
    }

    .lSAction > .lSNext {
        background-position: -96px 0;
    }

    .lSSlideOuter .lSPager.lSpg {
        position: absolute;
        right: 0;
        bottom: 6px;
        left: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
 /*   .navbar-collapse {
        display: none;
    }*/

    #navbar {
        padding-bottom: 10px;
    }

    .navbar-nav > li,
    .navbar-right,
    .navbar-nav {
        float: none !important;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }
    
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-right {
        margin-right: 0 !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 992px) {

    #navbar {
        margin-top: 9px;
    }

    .navbar-nav {
        padding: 0;
    }

    .navbar-default .navbar-nav > li > a.btn-join {
        margin-right: 12px !important;
        padding-top: 12px !important;
    }

    .navbar-collapse {
        /*display: none !important;*/
    }
    
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .what-img,
    .info-more-img img {
        position: relative;
        top: auto;
        left: auto;
        max-width: 100%;
    }

    .intro-item .svg {
        max-width: 150px;
    }

    .lead h2 {
        font-size: 24px;
    }

    .splash p {
        font-size: 28px !important;
        line-height: 30px !important;
    }

    .what-img {
        width: 100%;
        margin-top: 40px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .info-text {
        padding-right: 0;
    }

    .info-img {
        width: 100%;
    }

    #info-more .row:first-child .col-md-6 {
        padding-left: 0;
    }
    
    #what .btn-group {
        width: 100%;
        text-align: center;
    }

    #what .btn-social {
        float: none;
    }
}


@media (min-width: 1200px) {

    .container {
        width: 1185px;
    }

}